/*DOCUMENTO CSS*/

body { font-family: ; "roboto"; sans-serif}

.cabecera {min-height: 1px;
            padding: 28px 8px;
            text-align: center; 
            background: rgb(253,29,29,100) }

.cuerpo {}

.contenido {}

.pie {}